{% extends "base.html" %}

{% block content %}
<body>
<div class="container">
	<div class="alert alert-primary" role="alert">
User: {{user_input}}
</div>
<div class="alert alert-dark" role="alert">
  Friend: {{bot_response}}
</div>
	

	<form  action="/process" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Friend Chatbot</label>
    <input type="text" name="user_input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Talk to my friend"><br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
</body>
{% endblock %}