flask==2.3.3
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.1.1
-e git+https://github.com/chambliss/foodbert.git@e2c41e0a52af48419806392212fb5dbc24d6b2f5#egg=food_extractor
requests==2.31.0
pandas==2.0.3
torch==2.0.1
transformers==4.32.1